body{
background-image:url('../img/body_bg.jpg');
}

#subnav{
background-image:url('../img/light_bg.png');
}

#content .row .page a .hover{
background-image:url('../img/thumb_hover.png');
}

#content .row .page .title{
background-image:url('../img/light_bg.png');
}

#content #thumbs a .hover{
background-image:url('../img/thumb_hover.gif');
}

#home{
background-image:none
}

#home #home_overlay,
#instructions #gallery .wpgslider-container{
background-image:url('../img/home_overlay.png');
}

#lookbook{
background-image:url('../img/bg.gif');
}

#instructions,
#look,
#shop{
background-image:url('../img/shop_bg.jpg');
}

#shop.page-id-956{
background-image:url('../img/felt_bg.jpg');
}

#shop.page-id-958{
background-image:url('../img/phrame_bg.jpg');
}

#shop_look{
background-image:url('../img/shop_bg.jpg');
}

#process .post .container{
background-image:url('../img/post_bg.gif');
}